<div class="sidebar">
    <% if (locals.sidemenu !== undefined && locals.sidemenu !== null) {
        urlPath = urlPath.replace(/\/[^/]+$/, '/');
        locals.sidemenu.forEach(group => { %>
            <div class="category">
                <h2><%= group.name %></h2>
                <ul>
                <% group.animals.forEach(animal => { %>
                    <li class="sidebar-animal <%= animal %>"><a href="<%= urlPath %><%= animal %>"><%= animal %></a></li>
                <% }); %>
                </ul>
            </div>
            <br>
        <% });
    } %>
</div>
