<div class="animals">
    <% if (locals.animals) { %>
        <% animals.forEach(animal => { %>
            <p><span>Name:</span> <%= animal.name %></p>
            <p><span>Lifespan:</span> <%= animal.lifespan %></p>
            <p><span>Group:</span> <%= animal.group %></p>
            <p><span>Food:</span> <%= animal.food %></p>
            <p><span>Description:</span> <%= animal.description %></p>
            <p><span>Height:</span> <%= animal.height %></p>
            <p><span>Weight:</span> <%= animal.weight %></p>
            <p><span>Found:</span> <%= animal.found %></p>
       <% }) %>
   <% } %>
</div>