<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head") %>
<body>
    <%- include ("../partials/header") %>
    <section class="flex-container">
        <%- include('../partials/sidebar') %>
        <div class="main-content">
            <%- include ("../partials/welcomereptile") %>
        </div>
    </section>
    <%- include ("../partials/footer") %>
</body>
</html>